absl-py==0.11.0
apparmor==2.13.4
appdirs==1.4.4
asn1crypto==1.2.0
astunparse==1.6.3
cachetools==4.2.0
certifi==2020.12.5
cffi==1.13.1
chardet==4.0.0
click==7.1.2
configobj==5.0.6
cryptography==2.8
cupshelpers==1.0
Flask==1.1.2
Flask-Cors==3.0.10
flatbuffers==1.12
gast==0.3.3
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
gunicorn==20.0.4
h5py==2.10.0
idna==2.10
importlib-metadata==3.4.0
itsdangerous==1.1.0
Jinja2==2.11.2
Keras-Preprocessing==1.1.2
LibAppArmor==2.13.4
Markdown==3.3.3
MarkupSafe==1.1.1
meson==0.55.3
mutagen==1.41.0
numpy==1.19.5
oauthlib==3.1.0
onboard==1.4.1
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==19.2
protobuf==3.14.0
pwquality==1.4.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.18.2
pycparser==2.19
pycups==1.9.74
PyGObject==3.36.1
pyOpenSSL==19.0.0
pyparsing==2.4.2
pysmbc==1.0.15.8
PySocks==1.7.1
python-magic==0.4.18
PyYAML==5.1.2
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7
six==1.15.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow-cpu==2.4.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
typing-extensions==3.7.4.3
urllib3==1.26.2
Werkzeug==1.0.1
wrapt==1.12.1
youtube-dl==2020.9.20
zipp==3.4.0
